<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>品牌案例</title>
    <script src="../lib/vue.js"></script>
    <script src="../lib/node_modules/jquery/dist/jquery.js"></script>
  </head>
  <!-- 

    delete是vue的关键字所以不能随便使用

    关于搜索:之前，v-for中的数据都是从data上的objectList中直接渲染过来的
            现在，我们定义了应该seach方法将匹配关键字的objectList中的元素，以新数组的方式返回给v-for
   -->
  <style>
    td {
      padding: 5px;
      margin: 2px;
    }
  </style>
  <body>
    <div id="box">
      id: <input type="text" v-model="id" /> name:<input
        type="text"
        v-model="name"
      />
      <input type="submit" value="添加" @click="add()" />
      搜索：<input type="text" v-model="keyword" />
      <table>
        <tr v-for="(item,i) in search(keyword)">
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.time|timeFormat}}</td>
          <td><button :key="item.id" @click="del(item.id)">删除</button></td>
        </tr>
      </table>
    </div>

    <script>
      var time = new Date();
      new Vue({
        el: "#box",
        data: {
          id: "",
          name: "",
          keyword: "",

          objectlist: [
            { id: 1, name: "张三", time },
            { id: 2, name: "李四", time },
            { id: 3, name: "王五", time },
            { id: 4, name: "赵六", time },
          ],
        },
        methods: {
          /**
          分析：
          1.直接从data上获取id和name的值

          2.组织成一个对象，添加到objectList中

          3.将这个对象通过调用数字的相关方法添加到data上的list中

          4.注：在vue中我们需要通过数据的双向绑定(v-model),每当我们修改或添加数据时会自动将最新的数据渲染到页面上
          */
          add() {
            var object = { id: this.id, name: this.name };
            this.objectlist.push(object);
            this.id = this.name = "";
          },
          del(i) {
            console.log(i);
            console.log("+++++++++++++++");
            var number;
            this.objectlist.findIndex((item, index) => {
              console.log(1);
              if (item.id == i) {
                number = index;
                return i;
              }
            });
            console.log(number);
            this.objectlist.splice(number, 1);
          },
          search(keyword) {
            var newList = [];

            // 注意:forEach  some  filter  findIndex  这些都属于数组新方法

            this.objectlist.filter((element) => {
              if (element.name.indexOf(keyword) != -1) {
                newList.push(element);
              }
            });
            /**
            this.objectlist.forEach((element) => {
              if (element.name.indexOf(keyword) != -1) {
                newList.push(element);
              }
            });
            */
            return newList;
          },
        },
        filters: {
          timeFormat(time) {
            var dateTime = new Date(time);
            var y = dateTime.getFullYear();
            var m = dateTime.getMonth() + 1;
            var d = dateTime.getDate();
            var hh = dateTime.getHours();
            var mm = dateTime.getMinutes();
            var ss = dateTime.getSeconds();
            console.log(y);
            return "" + y + "/" + m + "/" + d;
          },
        },
      });
    </script>
  </body>
</html>
